body {
    padding-top: 100px;
    background: url(../img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: black;
}


.centered {
    margin: 0 auto;
}

.circular {
    width: 300px;
    height: 300px;


    background: url(../img/me.png) no-repeat;
    background: url(../img/me.png) no-repeat;
    background-size: 300px 300px;

}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.pdf-viewer{
  margin-top: 60px;
  margin-left:auto;
  margin-right:auto;
  width:8.5in;
  height:11in;
}

.pdf{
  width:100%;
  height:100%;
}

/* media */

.media {
    text-align: center;
    padding: 5px 0px;
    color: #ffffff;
}

.media a {
    color: inherit;
}

.media span {
    color: inherit;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.media i {
    padding: 0px 10px; 
}

.media a:hover {
    color: gray;
}

/* Name */

.name {
    padding: 10px 0px ;
    text-align: center;
}

.text {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
    padding: 10px 0px ;
    text-align: left;
}

.letter {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
}

.text h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
    padding: 10px 0px ;
    text-align: left;
    font-size: 30px;
}

.text h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
    padding: 10px 0px ;
    text-align: left;
    font-size: 25px;
}

.text p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
}


.text p a:hover {
    color: gray;
}

.name p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
}


.name p a:hover {
    color: gray;
}
.text footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #ffffff;
}

.transboxfixed {
    position: absolute;
	height: 220;
	width: 1200;
	-webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    margin: 30px;
    background-color: #ffffff;
    border: 6px solid black;
    opacity: 0.95;
    filter: alpha(opacity=60);

}


.squarerounded {
    float: left;
    left: 0;
    width:170px;
    height:170px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color:#EE33AA;
    -webkit-box-shadow: #000000 8px 8px 8px;
    -moz-box-shadow: #000000 8px 8px 8px;
    box-shadow: #000000 8px 8px 8px;

margin-right: 10px;
    
    background: url(../img/Bjorn.png) no-repeat;
    background-size: 170px 170px;


}

.squarerounded img {
    opacity: 0;
    filter: alpha(opacity=0);
	padding-right: 10px;
}

.name2 {
    float: right;
    text-align: left;
    padding: 10px 0px;
}

.name2 p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding-top: 10px;
	padding-left: 10px;
    margin-bottom: 0px;
    color: black;
}
.media2 {
    text-align: center;
    padding: 5px 0px;
    color: black;
}

.media2 a {
    color: black;
}

.media2 span {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.media2 i {
    padding: 0px 10px; 
}
.letter2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: black;
	text-align: left;
}


.roundedtransimg {
    float: left;
    left: 0;
    width:170px;
    height:170px;
    border-radius: 25px;
    border: 6px solid #3021FF;
    background-color:#D8E3DE;
    padding-right: 10px;
    
    background: url(../img/boinc1.png) no-repeat;
    background-size: 170px 170px;


}

.roundedtransimg img {
    opacity: 0;
    filter: alpha(opacity=0);
	padding-right: 10px;
}

.roundedtransimgnobord {
    float: left;
    left: 0;
    width:170px;
    height:170px;
    margin-right: 10px;
    
    background: url(../img/boinc1.png) no-repeat;
    background-size: 170px 170px;


}

.roundedtransimgnobord img {
    opacity: 0;
    filter: alpha(opacity=0);
	padding-right: 10px;
}

.infoheader {
	text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
	
}
.infoheader p {
	font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 39px;
    padding-top: 10px;
	padding-left: 10px;
    margin-bottom: 0px;
    color: black;
}
}
.infoheader a {
	font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 39px;
    padding-top: 10px;
	padding-left: 10px;
    margin-bottom: 0px;
    color: black;
}
.media3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 36px;
    padding-top: 10px;
	padding-left: 10px;
    margin-bottom: 0px;
    color: black;
}
.media3 a {
    color: #0033cc;
}

.infoslides span {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #0033cc;
}


.infoslides i {
    padding: 0px 10px; 
}
	.media3 a {
    color: 3C7CE4;
}
.infoslides {
    text-align:left;
}

.infoslides i {
    padding: 0px 10px; 
}

.infohead {
    text-align: center;
}

.infohead p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 42px;
    padding-top: 10px;
	padding-left: 10px;
    margin-bottom: 0px;
    color: black;
}
.infoslides p {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: black;
}


.infoslides a {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #0033cc;
}

.infoslides h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 40px;
    padding-top: 10px;
    margin-bottom: 0px;
    color: black;
}